Repository cloudposse/geodesic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudposse/engineering, @cloudposse/contributors, @cloudposse/admins

Update actions used by GitHub workflows (#910)
  .github/labeler.yml
  .github/workflows/docker.yml
  .github/workflows/draft-release.yml
  .github/workflows/label.yml
  .github/workflows/validate-codeowners.yml
  .github/workflows/vhs.yaml
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors, @cloudposse/admins

Stylistic clean-up of README
  README.md
Owners: @cloudposse/engineering, @cloudposse/contributors

Stylistic clean-up of README (#911)
  README.md
Owners: @cloudposse/engineering, @cloudposse/contributors

reverse logic for TARGETARCH, assume amd64 when empty or on multi-platform builds
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
Owners: @cloudposse/engineering

Update to Debian 12.4 Bookworm, make minor changes related to the upgrade
  os/debian/Dockerfile.debian
  os/debian/rootfs/etc/syslog-ng/syslog-ng.conf
  rootfs/etc/profile.d/syslog-ng.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

adopt netcat-openbsd over netcat-traditional because it is more featureful and safer
  os/debian/packages-debian.txt
Owners: @cloudposse/engineering, @cloudposse/contributors

Preliminary tests
  .github/workflows/docker.yml
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
Owners: @cloudposse/engineering, @cloudposse/contributors

Better control over build arch and flags
  Makefile
Owners: @cloudposse/engineering

Add labels and annotations published Docker image
  .github/workflows/docker.yml
Owners: @cloudposse/engineering, @cloudposse/contributors

Fix attributes and latest tag
  .github/workflows/docker.yml
Owners: @cloudposse/engineering, @cloudposse/contributors

Fix typo
  .github/workflows/docker.yml
Owners: @cloudposse/engineering, @cloudposse/contributors

reduce debugging output
  .github/workflows/docker.yml
Owners: @cloudposse/engineering, @cloudposse/contributors

tweak the debugging output
  .github/workflows/docker.yml
Owners: @cloudposse/engineering, @cloudposse/contributors

Additional build error message
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
Owners: @cloudposse/engineering

Add OCI annotations (#917)
  .github/workflows/docker.yml
  Makefile
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
Owners: @cloudposse/engineering, @cloudposse/contributors

Update to Debian 12.4 and other updates
  .github/workflows/docker.yml
  README.md
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
  os/debian/packages-debian.txt
  os/debian/rootfs/etc/syslog-ng/syslog-ng.conf
  rootfs/etc/profile.d/_20-localhost.sh
  rootfs/etc/profile.d/banner.sh
  rootfs/sbin/docker
  rootfs/usr/bin/docker
Owners: @cloudposse/engineering, @cloudposse/contributors

Update to Debian 12.4 and other updates (#918)
  .github/workflows/docker.yml
  README.md
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
  os/debian/packages-debian.txt
  os/debian/rootfs/etc/syslog-ng/syslog-ng.conf
  rootfs/etc/profile.d/_20-localhost.sh
  rootfs/etc/profile.d/banner.sh
  rootfs/sbin/docker
  rootfs/usr/bin/docker
Owners: @cloudposse/engineering, @cloudposse/contributors

Fix aws CLI auto-completions
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/aws.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Fix aws CLI auto-completions, use smaller kubectl package (#924)
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/aws.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Add rakkess to linux/arm64 in Debian
  packages-amd64-only.txt
  packages.txt
  rootfs/usr/local/bin/no-arm64-support
Owners: @cloudposse/engineering, @cloudposse/contributors

Add rakkess to linux/arm64 in Debian (#929)
  packages-amd64-only.txt
  packages.txt
  rootfs/usr/local/bin/no-arm64-support
Owners: @cloudposse/engineering, @cloudposse/contributors

Initial support for dark mode terminals
  rootfs/etc/codefresh/require_vars
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/terraform.sh
  rootfs/usr/bin/docker
  rootfs/usr/local/bin/boot
  rootfs/usr/local/bin/codefresh-pipeline
  rootfs/usr/local/bin/eks-update-kubeconfig
  rootfs/usr/local/bin/grafana-db
  rootfs/usr/local/bin/kubectl-auto-select
  rootfs/usr/local/bin/no-arm64-support
  rootfs/usr/local/bin/yaml-diff
Owners: @cloudposse/engineering, @cloudposse/contributors

Localize leaking shell variables
  rootfs/etc/profile.d/_30-geodesic-config.sh
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/Ω_finalize.sh
  rootfs/etc/profile.d/Ω_overrides.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Use proper luminance for determining dark mode
  packages.txt
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Initial support for dark mode terminals (#933)
  packages.txt
  rootfs/etc/codefresh/require_vars
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_30-geodesic-config.sh
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/terraform.sh
  rootfs/etc/profile.d/Ω_finalize.sh
  rootfs/etc/profile.d/Ω_overrides.sh
  rootfs/usr/bin/docker
  rootfs/usr/local/bin/boot
  rootfs/usr/local/bin/codefresh-pipeline
  rootfs/usr/local/bin/eks-update-kubeconfig
  rootfs/usr/local/bin/grafana-db
  rootfs/usr/local/bin/kubectl-auto-select
  rootfs/usr/local/bin/no-arm64-support
  rootfs/usr/local/bin/yaml-diff
Owners: @cloudposse/engineering, @cloudposse/contributors

rename internal function to keep it out of command completion
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/terraform.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Fix `tput` caching
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Dark mode caching fix (#934)
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/terraform.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Change branch name from master to main
  .github/workflows/draft-release.yml
  Dockerfile.custom
  Makefile.custom
  docs/logo.md
  rootfs/usr/local/bin/grafana-db
Owners: @cloudposse/engineering, @cloudposse/contributors

Add OpenTofu repo, update dependencies
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
  os/debian/rootfs/etc/apt/preferences.d/kubectl-preferences
  packages.txt
Owners: @cloudposse/engineering, @cloudposse/contributors

Remove Google Cloud SDK, extra version of AWS CLI
  Dockerfile.options
  os/alpine/Dockerfile.alpine
  os/alpine/requirements.txt
  os/debian/Dockerfile.debian
  requirements.txt
Owners: @cloudposse/engineering, @cloudposse/contributors

Update Google Debian Package Repo install script
  os/debian/Dockerfile.debian
Owners: @cloudposse/engineering

Update Dependencies, add OpenTofu package repo (#936)
  .github/workflows/draft-release.yml
  Dockerfile.custom
  Dockerfile.options
  Makefile.custom
  docs/logo.md
  os/alpine/Dockerfile.alpine
  os/alpine/requirements.txt
  os/debian/Dockerfile.debian
  os/debian/rootfs/etc/apt/preferences.d/kubectl-preferences
  packages.txt
  requirements.txt
  rootfs/usr/local/bin/grafana-db
Owners: @cloudposse/engineering, @cloudposse/contributors

Update Dockerfile examples for #927
  Dockerfile.custom
  README.md
  README.yaml
  demo.tape
Owners: @cloudposse/engineering, @cloudposse/contributors

Fix Dockerfile configuration
  .github/renovate.json
Owners: @cloudposse/engineering

Update vhs-action to v2
  .github/workflows/vhs.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

Better support for non-terminals and monochrome terminals
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/prompt.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Pin VHS to Ubuntu 20.04
  .github/workflows/vhs.yaml
  demo.tape
Owners: @cloudposse/engineering, @cloudposse/contributors

pin versions to try to work around font install bug
  .github/workflows/vhs.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

revert demo tape due to failing VHS action
  .github/workflows/vhs.yaml
  demo.tape
Owners: @cloudposse/engineering, @cloudposse/contributors

.github/CODEOWNERS:

# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last (not first) matching pattern "wins"

# These owners will be the default owners for everything
*               @cloudposse/engineering @cloudposse/contributors

# Cloud Posse must review any changes to Makefiles
**/Makefile     @cloudposse/engineering
**/Makefile.*   @cloudposse/engineering

# Cloud Posse must review any changes to Dockerfiles
**/Dockerfile   @cloudposse/engineering
**/Dockerfile.* @cloudposse/engineering

# Cloud Posse must review any changes to GitHub actions or configuration
.github/*       @cloudposse/engineering

# Of course, admins must approve changes to CODEOWNERS itself
.github/CODEOWNERS  @cloudposse/admins
.github/workflows/validate-codeowners.yml   @cloudposse/admins
