Repository cloudposse/geodesic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudposse/engineering, @cloudposse/contributors, @cloudposse/admins

.github/CODEOWNERS:

# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last (not first) matching pattern "wins"

# These owners will be the default owners for everything
*               @cloudposse/engineering @cloudposse/contributors

# Cloud Posse must review any changes to Makefiles
**/Makefile     @cloudposse/engineering
**/Makefile.*   @cloudposse/engineering

# Cloud Posse must review any changes to Dockerfiles
**/Dockerfile   @cloudposse/engineering
**/Dockerfile.* @cloudposse/engineering

# Cloud Posse must review any changes to GitHub actions or configuration
.github/*       @cloudposse/engineering

# Of course, admins must approve changes to CODEOWNERS itself
.github/CODEOWNERS  @cloudposse/admins
.github/workflows/validate-codeowners.yml   @cloudposse/admins

chore: update demo gif
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

remove commented code
  demo.tape
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update demo gif
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

Update demo.tape
  demo.tape
Owners: @cloudposse/engineering, @cloudposse/contributors

add missing delay
  demo.tape
Owners: @cloudposse/engineering, @cloudposse/contributors

cancel in progress
  .github/workflows/vhs.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update demo gif
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

cancel in progress
  .github/workflows/vhs.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

fix typo
  .github/workflows/vhs.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update demo gif
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

standardize commands
  demo.tape
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update demo gif
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

Update readme
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update demo gif
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

Update readme
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

Update readme
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

Update readme
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

Update readme
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update demo gif
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

Update readme
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update demo gif
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

Update Demo GIF with VHS (#898)
  .github/workflows/vhs.yaml
  Brewfile
  README.md
  README.yaml
  demo.tape
  docs/demo.gif
Owners: @cloudposse/engineering, @cloudposse/contributors

fix: handling of user+group creation on Debian
  rootfs/etc/profile.d/user.sh
  rootfs/templates/wrapper
Owners: @cloudposse/engineering, @cloudposse/contributors

Make bindfs mapping bidirectional, remove host USER name from env
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_20-localhost.sh
  rootfs/etc/profile.d/user.sh
  rootfs/templates/wrapper
Owners: @cloudposse/engineering, @cloudposse/contributors

Run labeler on pull_request_target
  .github/workflows/label.yml
Owners: @cloudposse/engineering, @cloudposse/contributors

Make bindfs mapping bidirectional, remove host USER name from env (#901)
  .github/workflows/label.yml
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_20-localhost.sh
  rootfs/etc/profile.d/user.sh
  rootfs/templates/wrapper
Owners: @cloudposse/engineering, @cloudposse/contributors

Add explicit permissions to labeler
  .github/workflows/label.yml
Owners: @cloudposse/engineering, @cloudposse/contributors

Add explicit permissions to labeler (#903)
  .github/workflows/label.yml
Owners: @cloudposse/engineering, @cloudposse/contributors

update readme
  README.md
Owners: @cloudposse/engineering, @cloudposse/contributors

default include
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update repo banner image
  .github/banner.png
Owners: @cloudposse/engineering

update banner
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update repo banner image
  .github/banner.png
Owners: @cloudposse/engineering

Add banner (#904)
  .github/banner.png
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

Clean up narrative of Geodesic history
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

Clean up narrative of Geodesic history (#905)
  README.md
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: update repo banner image
  .github/banner.png
Owners: @cloudposse/engineering

chore: update repo banner image
  .github/banner.png
Owners: @cloudposse/engineering

Update actions to NodeJS v20 versions
  .github/labeler.yml
  .github/workflows/docker.yml
  .github/workflows/draft-release.yml
  .github/workflows/label.yml
  .github/workflows/validate-codeowners.yml
  .github/workflows/vhs.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors, @cloudposse/admins

Stylistic clean-up
  README.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors
