Repository cloudposse/geodesic, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudposse/engineering, @cloudposse/contributors, @cloudposse/admins

Oops, allocate a terminal for --solo shell
  rootfs/templates/wrapper-body.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Clean up shell PID monitoring
  rootfs/usr/local/sbin/shell-monitor
Owners: @cloudposse/engineering, @cloudposse/contributors

Remove debugging code
  rootfs/usr/local/sbin/shell-monitor
Owners: @cloudposse/engineering, @cloudposse/contributors

Fix Excessive CPU usage, fix --solo (#974)
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/sbin/shell-monitor
Owners: @cloudposse/engineering, @cloudposse/contributors

Split extra args into launch and exec args. Enhance verbose mode.
  ReleaseNotes-v4.md
  docs/environment.md
  rootfs/templates/wrapper-body.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Additional launch checks/warnings
  rootfs/etc/profile.d/_01-launch-warning.sh
  rootfs/etc/profile.d/_60-register-stray-shells.sh
  rootfs/usr/local/bin/boot
Owners: @cloudposse/engineering, @cloudposse/contributors

Address reviewer feedback
  ReleaseNotes-v4.md
  docs/environment.md
  rootfs/etc/profile.d/_60-register-stray-shells.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/bin/boot
Owners: @cloudposse/engineering, @cloudposse/contributors

Split extra args into launch and exec (#976)
  ReleaseNotes-v4.md
  docs/environment.md
  rootfs/etc/profile.d/_01-launch-warning.sh
  rootfs/etc/profile.d/_60-register-stray-shells.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/bin/boot
Owners: @cloudposse/engineering, @cloudposse/contributors

Fix: Correct typos in README.md
  README.md
Owners: @cloudposse/engineering, @cloudposse/contributors

Use atmos for readme genration
  .gitignore
  Makefile
  README.md
  atmos.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

Use atmos for readme generation (#978)
  .gitignore
  Makefile
  README.md
  atmos.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors

Add Atmos auth integration to Geodesic
  rootfs/etc/profile.d/atmos.sh
  rootfs/templates/wrapper-body.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Use --identity=value syntax instead of space-separated
  rootfs/etc/profile.d/atmos.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Install Atmos 1.197.0 by default
  packages.txt
Owners: @cloudposse/engineering, @cloudposse/contributors

Update packages.txt
  packages.txt
Owners: @cloudposse/engineering, @cloudposse/contributors

Apply suggestion from @osterman
  packages.txt
Owners: @cloudposse/engineering, @cloudposse/contributors

Add Atmos auth integration to Geodesic (#979)
  rootfs/etc/profile.d/atmos.sh
  rootfs/templates/wrapper-body.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: typo fixes
  README.md
  README.yaml
  os/debian/Dockerfile.debian
  rootfs/etc/codefresh/require_vars
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/fzf.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/Ω_overrides.sh
  rootfs/usr/local/bin/codefresh-pipeline
Owners: @cloudposse/engineering, @cloudposse/contributors

refactor(shell): quote variables and use arrays safely
  rootfs/etc/init.d/atlantis.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/templates/wrapper-body.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

fix: `codespell` typo fixes, replace unsafe array assignments, quote variable expansions to prevent globbing (#980)
  README.md
  README.yaml
  os/debian/Dockerfile.debian
  rootfs/etc/codefresh/require_vars
  rootfs/etc/init.d/atlantis.sh
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/fzf.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/Ω_overrides.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/bin/codefresh-pipeline
Owners: @cloudposse/engineering, @cloudposse/contributors

fix: correct syntax errors and typos in shell scripts
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_50-workspace.sh
  rootfs/etc/profile.d/helm.sh
  rootfs/etc/profile.d/prompt.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

fix: remove 2>&1 stderr redirect from atmos auth env calls
  rootfs/etc/profile.d/atmos.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

fix: correct syntax errors and typos in shell scripts (#982)
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_50-workspace.sh
  rootfs/etc/profile.d/helm.sh
  rootfs/etc/profile.d/prompt.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

fix: remove 2>&1 stderr redirect from atmos auth env calls (#983)
  rootfs/etc/profile.d/atmos.sh
Owners: @cloudposse/engineering, @cloudposse/contributors

Improved README explanation for beginners
  README.md
Owners: @cloudposse/engineering, @cloudposse/contributors

Added beginner-friendly Dockerfile explanations
  Dockerfile.custom
  README.md
Owners: @cloudposse/engineering, @cloudposse/contributors

chore: upgrade actions to Node 24 runtime (SHA-pinned)
  .github/workflows/docker.yml
  .github/workflows/draft-release.yml
  .github/workflows/label.yml
  .github/workflows/validate-codeowners.yml
  .github/workflows/vhs.yaml
Owners: @cloudposse/engineering, @cloudposse/contributors, @cloudposse/admins

chore: do not persist credentials in codeowners checkout
  .github/workflows/validate-codeowners.yml
Owners: @cloudposse/admins

.github/CODEOWNERS:

# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last (not first) matching pattern "wins"

# These owners will be the default owners for everything
*               @cloudposse/engineering @cloudposse/contributors

# Cloud Posse must review any changes to Makefiles
**/Makefile     @cloudposse/engineering
**/Makefile.*   @cloudposse/engineering

# Cloud Posse must review any changes to Dockerfiles
**/Dockerfile   @cloudposse/engineering
**/Dockerfile.* @cloudposse/engineering

# Cloud Posse must review any changes to GitHub actions or configuration
.github/*       @cloudposse/engineering

# Of course, admins must approve changes to CODEOWNERS itself
.github/CODEOWNERS  @cloudposse/admins
.github/workflows/validate-codeowners.yml   @cloudposse/admins
