Repository cloudposse/geodesic, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, docs, github, packages, scripts, shell

.github/labeler.yml:

# We are going to exclude alpine-only PRs from the draft release,
# so we do not apply the label if the Alpine Dockerfile is changed,
# even though the PR is technically Alpine-only.
alpine-only:
- changed-files:
  - all-globs-to-all-files:
    - os/alpine/**
    # We are not publishing Alpine anymore, so changes to the Alpine Dockerfile do not matter anymore
    # - '!os/alpine/Dockerfile.alpine'

#direnv:
#- changed-files:
#  - any-glob-to-any-file:
#    - rootfs/etc/direnv/**

docker:
- changed-files:
  - any-glob-to-any-file:
    # - os/alpine/Dockerfile.alpine
    - os/debian/Dockerfile.debian

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

github:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

packages:
- changed-files:
  - any-glob-to-any-file:
    - "packages*.txt"
    - "requirements*.txt"
    - "os/debian/packages*.txt"
    - "os/debian/requirements*.txt"

scripts:
- changed-files:
  - any-glob-to-any-file:
    - rootfs/usr/local/bin/**
    - rootfs/usr/bin/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - rootfs/etc/profile.d/**

Disable all updates for Alpine
  .github/renovate.json
  rootfs/etc/profile.d/aws.sh
Labels: github, shell

Migrate configuration (recommended -> base) per validator
  .github/renovate.json
Labels: github

Migrate Renovate configuration (base -> recommended) per validator (#951)
  .github/renovate.json
Labels: github

Ignore updates to Alpine
  .github/renovate.json
Labels: github

Ignore updates to Alpine (#952)
  .github/renovate.json
Labels: github

update dependencies and tools
  os/debian/Dockerfile.debian
  rootfs/templates/bootstrap
Labels: docker

Update dependencies and tools (#953)
  os/debian/Dockerfile.debian
  rootfs/templates/bootstrap
Labels: docker

gomplate strings.Split has different syntax than split. Fix.
  rootfs/templates/bootstrap
Labels: none

Update python 3.12.4 -> 3.12.5
  os/debian/Dockerfile.debian
Labels: docker

Update Python to 3.12.5, fix init script (#955)
  os/debian/Dockerfile.debian
  rootfs/templates/bootstrap
Labels: docker

Preserve color/flavor on EKS cluster name
  rootfs/etc/profile.d/geodesic.kube-ps1.sh
Labels: shell

Use var instead of secret for IAM role
  .github/workflows/docker.yml
Labels: github

add devcontainer for geodesic build
  .devcontainer.json
Labels: none

add documentation update for codespaces
  README.md
Labels: none

Restore AWS config dir link (#958)
  rootfs/etc/profile.d/aws.sh
Labels: shell

Update dependencies
  os/debian/Dockerfile.debian
Labels: docker

Fix ~/.aws symlink (#959), Update dependencies
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/aws.sh
Labels: docker, shell

Version 4 initial commit
  Makefile
  docs/ReleaseNotes-v4.md
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
  os/debian/packages-debian.txt
  rootfs/conf/.emacs
  rootfs/conf/.inputrc
  rootfs/conf/.kube/config
  rootfs/etc/kubeconfig
  rootfs/etc/motd
  rootfs/etc/motd.sh
  rootfs/etc/profile.d/_01-launch-warning.sh
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_20-localhost.sh
  rootfs/etc/profile.d/_20-mounts.sh
  rootfs/etc/profile.d/_30-geodesic-config.sh
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/_50-workdir.sh
  rootfs/etc/profile.d/_50-workspace.sh
  rootfs/etc/profile.d/atmos.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/banner.sh
  rootfs/etc/profile.d/motd.sh
  rootfs/etc/profile.d/oathtool.sh
  rootfs/etc/profile.d/ssh-agent.sh
  rootfs/etc/profile.d/terraform.sh
  rootfs/templates/bootstrap
  rootfs/templates/wrapper
  rootfs/templates/wrapper-body.sh
  rootfs/templates/wrapper-header.sh.tmpl
  rootfs/usr/local/bin/boot
  rootfs/usr/local/bin/wrapper
  rootfs/usr/local/sbin/shell-monitor
Labels: docker, docs, packages, scripts, shell

Python 3.12.7 -> .8, debian 20241016 -> 1223, helm-diff 3.9.11 -> .13
  os/debian/Dockerfile.debian
Labels: docker

Dependency updates (#960)
  os/debian/Dockerfile.debian
Labels: docker

Do not mark pre-releases as "latest"
  .github/workflows/docker.yml
Labels: github

Fix lint complaints
  os/debian/Dockerfile.debian
Labels: docker

Reverse direction of bind mounts
  rootfs/etc/profile.d/_20-mounts.sh
  rootfs/templates/wrapper-body.sh
Labels: shell

Python 3.12.7 -> .8, debian 20241016 -> 1223, helm-diff 3.9.11 -> .13
  os/debian/Dockerfile.debian
Labels: docker

Better handling of terminals that do not respond to queries
  docs/ReleaseNotes-v4.md
  rootfs/etc/profile.d/_01-launch-warning.sh
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/templates/wrapper-body.sh
Labels: docs, shell

Restric publishing the "latest" tag to GA releases
  .github/workflows/docker.yml
Labels: github

Use "yes" instead of "true" for status
  .github/workflows/docker.yml
Labels: github

Fix typo
  .github/workflows/docker.yml
Labels: github

Update documentation
  .github/workflows/docker.yml
  Dockerfile.custom
  Dockerfile.options
  Makefile
  README.md
  README.yaml
  docs/ReleaseNotes-v4.md
  docs/chudo.md
  docs/chundo.md
  docs/customization.md
  docs/environment.md
  docs/envrc.md
  docs/kops.md
  docs/kudo.md
  docs/kundo.md
  docs/wrapper.md
  os/debian/Dockerfile.debian
  rootfs/etc/motd.sh
  rootfs/etc/profile.d/_30-geodesic-config.sh
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/banner.sh
  rootfs/templates/wrapper-body.sh
Labels: docker, docs, github, shell

Address Code Rabbit findings
  .editorconfig
  docs/ReleaseNotes-v4.md
  docs/customization.md
  docs/environment.md
  docs/wrapper.md
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_20-mounts.sh
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/_50-workspace.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/banner.sh
Labels: docs, shell

Address Code Rabbit findings
  .editorconfig
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_20-mounts.sh
  rootfs/etc/profile.d/_50-workspace.sh
Labels: shell

Use traps to ensure tty settings get restored
  rootfs/etc/profile.d/_07-term-mode.sh
Labels: shell

Ensure `cd` to directory succeeds before saying it is accessible
  rootfs/etc/profile.d/_50-workspace.sh
Labels: shell

Use traps to ensure tty settings get restored
  rootfs/etc/profile.d/_01-launch-warning.sh
Labels: shell

Better identification of current Docker image
  rootfs/usr/local/bin/boot
Labels: scripts

Fix typos and nits
  docs/ReleaseNotes-v4.md
Labels: docs

Restore tmate
  os/debian/packages-debian.txt
Labels: packages

minor cleanups
  README.md
  README.yaml
  ReleaseNotes-v4.md
  docs/ReleaseNotes-v4.md
  docs/about.md
  rootfs/etc/init.d/atlantis.sh
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/bin/conf-directory
Labels: docs, scripts, shell

Handle whitespace in option values
  ReleaseNotes-v4.md
  docs/about.md
  rootfs/templates/wrapper-body.sh
Labels: docs

Handle workspace path has spaces, is symlink
  ReleaseNotes-v4.md
  rootfs/etc/profile.d/_20-mounts.sh
  rootfs/templates/wrapper-body.sh
Labels: shell
