Repository cloudposse/geodesic, changes with the labels that .github/labeler.yml gives for each.
All labels: direnv, docker, docs, github, packages, scripts, shell, terraform

Comment-out code that conflicts with build harness
  rootfs/usr/local/include/helpers
Labels: none

Fix Docker tags, Makefile, and update README
  .github/workflows/docker.yml
  Makefile
  README.md
  README.yaml
  geodesic_apkindex.md5
  geodesic_aptindex.md5
  rootfs/usr/local/bin/geodesic-aptindex-md5
Labels: github, scripts

Fix Docker tags
  .github/workflows/docker.yml
Labels: github

Remove "-merge" from PR Docker tags, update bug and feature templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/docker.yml
Labels: github

Stop including Teleport since they stopped supporting Alpine
  packages.txt
Labels: packages

Update README with usage information
  README.md
  README.yaml
Labels: none

Remove old architecture repo references
  README.md
  README.yaml
Labels: none

Require admin approval to change CODEOWNERS
  .github/CODEOWNERS
Labels: github

Fix Codeowners
  .github/CODEOWNERS
Labels: github

Remove man pages from README
  README.md
  README.yaml
Labels: none

Refactor os-specifics into os directory tree
  Makefile
  geodesic_apkindex.md5
  os/alpine/Dockerfile.alpine
  os/alpine/geodesic_apkindex.md5
  os/alpine/packages-alpine.txt
  os/alpine/rootfs/etc/syslog-ng/syslog-ng.conf
  os/alpine/rootfs/usr/local/bin/geodesic-apkindex-md5
  os/debian/Dockerfile.debian
  os/debian/geodesic_aptindex.md5
  os/debian/packages-debian.txt
  os/debian/rootfs/etc/default/syslog-ng
  os/debian/rootfs/etc/syslog-ng/syslog-ng.conf
  os/debian/rootfs/usr/local/bin/geodesic-aptindex-md5
  rootfs/conf/.kube/config
Labels: none

Add validate-codeowners workflow
  .github/workflows/validate-codeowners.yml
Labels: github

Fix workflows
  .github/workflows/docker.yml
  .github/workflows/validate-codeowners.yml
Labels: github

Try a different token for codeowners
  .github/workflows/validate-codeowners.yml
Labels: github

typos
  .github/workflows/docker.yml
Labels: github

Fix apt-update for Debian
  Makefile
  os/alpine/geodesic_apkindex.md5
  os/debian/geodesic_aptindex.md5
Labels: none

.github/labeler.yml:

direnv:
- rootfs/etc/direnv/**

docker:
- Dockerfile.alpine
- Dockerfile.debian

docs:
- docs/**

github:
- .github/**

packages:
- packages*.txt
- requirements*.txt

scripts:
- rootfs/usr/local/bin/**
- rootfs/usr/bin/**

shell:
- rootfs/etc/profile.d/**

terraform:
- rootfs/etc/direnv/rc.d/terraform
