Repository cloudposse/geodesic, changes with the labels that .github/labeler.yml gives for each.
All labels: codefresh, direnv, docker, docs, github, packages, scripts, shell, terraform

Delete caches in the layer they are created
  Dockerfile
Labels: docker

Better support for XDG, update Helm plugins (#608)
  Dockerfile
  geodesic_apkindex.md5
Labels: docker

Move direnv configuration to the new xdg_config_home
  rootfs/etc/xdg_config_home/direnv/config.toml
  rootfs/etc/xdg_config_home/direnv/direnvrc
Labels: none

Move direnv configuration to the new xdg_config_home (#609)
  rootfs/etc/xdg_config_home/direnv/config.toml
  rootfs/etc/xdg_config_home/direnv/direnvrc
Labels: none

Helm v2 "cache" is actually "data"
  Dockerfile
Labels: docker

Helm v2 "cache" is actually "data" (#610)
  Dockerfile
Labels: docker

[destroy-namespace] Fix Helm v3 compatibility
  rootfs/usr/local/bin/destroy-namespace
Labels: scripts

[destroy-namespace] Fix Helm v3 compatibility (#611)
  rootfs/usr/local/bin/destroy-namespace
Labels: scripts

new scripts
  rootfs/usr/local/bin/aws-region
  rootfs/usr/local/bin/helm3-metadata-fix
Labels: scripts

shfmt
  rootfs/usr/local/bin/aws-region
Labels: scripts

New commands aws-region & helm3-metadata-fix (#612)
  rootfs/usr/local/bin/aws-region
  rootfs/usr/local/bin/helm3-metadata-fix
Labels: scripts

Restore Atlantis access to Helm v2 Home
  Dockerfile
Labels: docker

Restore Atlantis access to Helm v2 Home (#613)
  Dockerfile
Labels: docker

Make terraform workspace prompt optional
  packages.txt
  rootfs/etc/profile.d/terraform.sh
Labels: packages, shell

Update packages
  geodesic_apkindex.md5
Labels: none

Make Terraform workspace prompt optional (#614)
  geodesic_apkindex.md5
  packages.txt
  rootfs/etc/profile.d/terraform.sh
Labels: packages, shell

Add all kubectl versions, add auto-selector. Update packages.
  README.md
  geodesic_apkindex.md5
  packages.txt
  rootfs/usr/local/bin/kubectl-auto-select
Labels: packages, scripts

update apkindex
  geodesic_apkindex.md5
Labels: none

Reviewer feedback
  .dockerignore
  .gitignore
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  rootfs/usr/local/bin/kubectl-auto-select
Labels: docker, packages, scripts

Add all kubectl versions, add auto-selector. Update packages. (#616)
  .dockerignore
  .gitignore
  Dockerfile
  README.md
  geodesic_apkindex.md5
  packages.txt
  rootfs/usr/local/bin/kubectl-auto-select
Labels: docker, packages, scripts

Update packages for helmfile 0.126.2
  geodesic_apkindex.md5
Labels: none

Update packages for helmfile 0.126.2 (#621)
  geodesic_apkindex.md5
Labels: none

Namespace override variables
  rootfs/templates/wrapper
Labels: none

build image using github actions
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto-release.yml
  .github/workflows/auto-release.yml
  .github/workflows/docker.yml
Labels: github

fix syntax
  .github/workflows/docker.yml
Labels: github

Fix output
  .github/workflows/docker.yml
Labels: github

add tests
  .github/workflows/docker.yml
  test/.gitignore
  test/Makefile
Labels: github

Add --overwrite flag to grafana-db, add an3 region to aws-region
  geodesic_apkindex.md5
  rootfs/usr/local/bin/aws-region
  rootfs/usr/local/bin/grafana-db
Labels: scripts

fmt
  rootfs/usr/local/bin/grafana-db
Labels: scripts

Use man instead of man-db
  Dockerfile
  packages.txt
Labels: docker, packages

update apkindex
  geodesic_apkindex.md5
Labels: none

[grafana-db] Add --overwrite flag, [aws-region] add an3 region (#628)
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  rootfs/usr/local/bin/aws-region
  rootfs/usr/local/bin/grafana-db
Labels: docker, packages, scripts

bugfix for aws-vault >= v5
  Dockerfile
  requirements.txt
  rootfs/etc/profile.d/aws-vault.sh
Labels: docker, packages, shell

Prefix Wrapper Environment Variables with GEODESIC_ (#622)
  rootfs/templates/wrapper
Labels: none

Add `vert` update helm-2to3
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
Labels: docker, packages

Prefix Wrapper Env Var names with GEODESIC_ plus other fixes (#637)
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  requirements.txt
  rootfs/etc/profile.d/aws-vault.sh
  rootfs/templates/wrapper
Labels: docker, packages, shell

Create Debian-based version
  Dockerfile
  Dockerfile.debian
  Dockerfile.options
  Makefile
  geodesic_aptindex.md5
  packages-alpine.txt
  packages-debian.txt
  packages.txt
  rootfs/etc/syslog-ng/syslog-ng.conf
  rootfs/usr/local/bin/geodesic-aptindex-md5
Labels: docker, packages, scripts

Build alpine or debian, refinements for debian
  Dockerfile.alpine
  Dockerfile.debian
  Makefile
  geodesic_apkindex.md5
  geodesic_aptindex.md5
  packages-debian.txt
  rootfs/etc/profile.d/banner.sh
  rootfs/etc/profile.d/helm.sh
  rootfs/etc/profile.d/locale.sh
  rootfs/etc/profile.d/syslog-ng.sh
  rootfs/etc/syslog-ng/Geodesic/alpine/syslog-ng.conf
  rootfs/etc/syslog-ng/Geodesic/debian/syslog-ng.conf
  rootfs/etc/syslog-ng/Geodesic/debian/syslog-ng.defaults
Labels: shell

.github/labeler.yml:

codefresh:
- codefresh/**
- rootfs/etc/codefresh/**

direnv:
- rootfs/etc/direnv/**

docker:
- Dockerfile

docs:
- docs/**

github:
- .github/**

packages:
- packages.txt
- requirements.txt

scripts:
- rootfs/usr/local/bin/**
- rootfs/usr/bin/**

shell:
- rootfs/etc/profile.d/**

terraform:
- rootfs/etc/direnv/rc.d/terraform
