Repository cloudposse/geodesic, changes with the labels that .github/labeler.yml gives for each.
All labels: codefresh, direnv, docker, docs, github, packages, scripts, shell, terraform

Support toggling of AWS Vault helptext
  rootfs/etc/profile.d/aws-vault.sh
Labels: shell

Do not use reserved variable
  rootfs/etc/profile.d/aws-vault.sh
Labels: shell

Update kops
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
Labels: docker, packages

Update kops, kubectl, and terraform. (#529)
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
Labels: docker, packages

Update package manager indexes
  geodesic_apkindex.md5
Labels: none

Update package manager indexes (#530)
  geodesic_apkindex.md5
Labels: none

add Darwin support for bind mount of ssh-agent socket Newly available on Docker for Mac (Edge) release. https://docs.docker.com/docker-for-mac/edge-release-notes/
  rootfs/templates/wrapper
Labels: none

Update to helm 3, aws-vault 5
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  rootfs/etc/profile.d/aws-vault.sh
Labels: docker, packages, shell

Update to helm 3, aws-vault 5 (#546)
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  rootfs/etc/profile.d/aws-vault.sh
Labels: docker, packages, shell

Allow configuration of helm binary for destroy-namespace
  rootfs/usr/local/bin/destroy-namespace
Labels: scripts

Allow configuration of helm binary for destroy-namespace (#552)
  rootfs/usr/local/bin/destroy-namespace
Labels: scripts

Use --purge with helm2 delete but not with helm3
  rootfs/usr/local/bin/destroy-namespace
Labels: scripts

shfmt
  rootfs/usr/local/bin/destroy-namespace
Labels: scripts

[destroy-namespace] Use --purge with helm2 delete but not with helm3 (#553)
  rootfs/usr/local/bin/destroy-namespace
Labels: scripts

Add conditional envvar for socket forwarding on Mac
  rootfs/templates/wrapper
Labels: none

add Darwin support for bind mount of ssh-agent socket (#534)
  rootfs/templates/wrapper
Labels: none

Drop python 2, use python 3 only
  Dockerfile
  packages.txt
  requirements.txt
Labels: docker, packages

Drop Python 2.x support
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
Labels: docker, packages

Reviewer-requested cleanups
  Dockerfile
  packages.txt
  requirements.txt
Labels: docker, packages

Drop Python 2.x and awsebcli, upgrade Apline to 3.11 (#556)
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  requirements.txt
Labels: docker, packages

Update to current version
  rootfs/etc/syslog-ng/syslog-ng.conf
Labels: none

Update syslog-ng.conf to current version (#559)
  rootfs/etc/syslog-ng/syslog-ng.conf
Labels: none

Remove reference to function removed in PR 368
  rootfs/etc/profile.d/use-profile.sh
Labels: shell

Remove reference to function removed in PR 368 (#560)
  rootfs/etc/profile.d/use-profile.sh
Labels: shell

fix direnv
  Dockerfile
Labels: docker

Update Dockerfile
  Dockerfile
Labels: docker

fix direnv (#561)
  Dockerfile
Labels: docker

Tag running Docker container with APP_NAME when set
  rootfs/templates/bootstrap
  rootfs/templates/wrapper
Labels: none

Tag running Docker container with APP_NAME when set
  rootfs/templates/bootstrap
  rootfs/templates/wrapper
Labels: none

Update kube-ps1 version, add note about installing aws-google-auth
  Dockerfile
Labels: docker

update packages
  geodesic_apkindex.md5
Labels: none

Make direnv optional
  rootfs/etc/profile.d/direnv.sh
Labels: shell

Keep track of currently active AWS role
  rootfs/etc/profile.d/aws.sh
Labels: shell

Adapt and simplify for kube-ps1 v0.7.0
  rootfs/etc/profile.d/geodesic.kube-ps1.sh
Labels: shell

Add helm auto-completion
  rootfs/etc/profile.d/helm.sh
Labels: shell

provide CLI tool for setting/changing Kubernetes cluster using our EKS cluster pattern
  rootfs/etc/profile.d/set_cluster.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: scripts, shell

Extend shell prompt to show Terraform Workspace status as well as everything else
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/terraform.sh
Labels: shell

shfmt
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/geodesic.kube-ps1.sh
  rootfs/etc/profile.d/helm.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: scripts, shell

Remove dev code
  rootfs/etc/profile.d/set_cluster.sh
Labels: shell

Rename set_cluster -> set-cluster
  rootfs/etc/profile.d/set-cluster.sh
Labels: shell

.github/labeler.yml:

codefresh:
- codefresh/**
- rootfs/etc/codefresh/**

direnv:
- rootfs/etc/direnv/**

docker:
- Dockerfile

docs:
- docs/**

github:
- .github/**

packages:
- packages.txt
- requirements.txt

scripts:
- rootfs/usr/local/bin/**
- rootfs/usr/bin/**

shell:
- rootfs/etc/profile.d/**

terraform:
- rootfs/etc/direnv/rc.d/terraform
