Repository cloudposse/geodesic, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, docs, github, packages, scripts, shell

.github/labeler.yml:

# We are going to exclude alpine-only PRs from the draft release,
# so we do not apply the label if the Alpine Dockerfile is changed,
# even though the PR is technically Alpine-only.
alpine-only:
- changed-files:
  - all-globs-to-all-files:
    - os/alpine/**
    # We are not publishing Alpine anymore, so changes to the Alpine Dockerfile do not matter anymore
    # - '!os/alpine/Dockerfile.alpine'

#direnv:
#- changed-files:
#  - any-glob-to-any-file:
#    - rootfs/etc/direnv/**

docker:
- changed-files:
  - any-glob-to-any-file:
    # - os/alpine/Dockerfile.alpine
    - os/debian/Dockerfile.debian

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

github:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

packages:
- changed-files:
  - any-glob-to-any-file:
    - "packages*.txt"
    - "requirements*.txt"
    - "os/debian/packages*.txt"
    - "os/debian/requirements*.txt"

scripts:
- changed-files:
  - any-glob-to-any-file:
    - rootfs/usr/local/bin/**
    - rootfs/usr/bin/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - rootfs/etc/profile.d/**

Skip container launch config and logging when simply exec'ing a shell
  ReleaseNotes-v4.md
  rootfs/etc/profile.d/_20-mounts.sh
  rootfs/templates/wrapper-body.sh
Labels: shell

Break non-wrapper warnings into shorter lines
  .coderabbit.yaml
  rootfs/etc/profile.d/_40-preferences.sh
Labels: shell

Disable unneeded linters
  .coderabbit.yaml
Labels: none

Allow mounting of host files, shorten wait for processes to exit
  rootfs/templates/wrapper-body.sh
Labels: none

Remove Leapp from MOTD, remove remote MOTD
  os/debian/Dockerfile.debian
  rootfs/etc/motd.sh
Labels: docker

Better handling of lingering shells
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/sbin/shell-monitor
Labels: none

Better warnings about sharing config files
  ReleaseNotes-v4.md
Labels: none

Updated info for Spacelift users
  ReleaseNotes-v4.md
  rootfs/etc/kubeconfig
Labels: none

Update header levels
  ReleaseNotes-v4.md
Labels: none

Add extra caution to terminal color detection
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_40-preferences.sh
Labels: shell

Fix typo
  rootfs/etc/profile.d/_07-term-mode.sh
Labels: shell

Update the demo GIF via demo.tape
  .github/workflows/vhs.yaml
  demo.tape
Labels: github

chore: update demo gif
  docs/demo.gif
Labels: docs

Add extra caution to terminal color detection (#963)
  .github/workflows/vhs.yaml
  demo.tape
  docs/demo.gif
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_40-preferences.sh
Labels: docs, github, shell

Fix #964
  rootfs/templates/wrapper-body.sh
Labels: none

Prefer NAMESPACE over DOCKER_IMAGE as default APP_NAME
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/templates/bootstrap
  rootfs/templates/wrapper-body.sh
Labels: shell

Fix #964 (#965)
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/templates/bootstrap
  rootfs/templates/wrapper-body.sh
Labels: shell

Update README.yaml
  README.yaml
Labels: none

Fix typo about adding packages in Dockerfile
  README.md
  README.yaml
Labels: none

Allow --workspace option to use "=" or space
  rootfs/templates/wrapper-body.sh
Labels: none

Move terminal color mode detection from sig handler to prompt command
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/prompt.sh
Labels: docker, shell

Rename unused file to prevent Dependabot from complaining about it
  os/alpine/requirements-Alpine-disabled.txt
Labels: none

V4 second bugfixes (#969)
  README.md
  README.yaml
  os/alpine/requirements-Alpine-disabled.txt
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/templates/wrapper-body.sh
Labels: docker, shell

add terminal-theme-detector
  .dockerignore
  .gitignore
  os/debian/Dockerfile.debian
  rootfs/usr/local/bin/terminal-colorsaurus-license.txt
  src/colorsaurus/Cargo.lock
  src/colorsaurus/Cargo.toml
  src/colorsaurus/lib/display.rs
  src/colorsaurus/src/main.rs
Labels: docker, scripts

Move high level summary out of PR description
  .coderabbit.yaml
Labels: none

Limit terminal theme detection to startup, use library for detection
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/prompt.sh
Labels: shell

Match docker shells to wrapper shells. Set envs per shell.
  rootfs/etc/profile.d/_60-register-stray-shells.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/sbin/list-wrapper-shells
  rootfs/usr/local/sbin/shell-monitor
Labels: shell

Update documentaion
  ReleaseNotes-v4.md
  docs/environment.md
  rootfs/etc/profile.d/terraform.sh
Labels: docs, shell

Reviewer feedback
  .gitignore
  ReleaseNotes-v4.md
  rootfs/etc/profile.d/_07-term-mode.sh
Labels: shell

Fix for loop syntax
  rootfs/templates/wrapper-body.sh
Labels: none

Better argument handling
  ReleaseNotes-v4.md
  rootfs/templates/wrapper-body.sh
Labels: none

Better tracking of shells and terminal colors, and other internal improvements (#970)
  .coderabbit.yaml
  .dockerignore
  .gitignore
  ReleaseNotes-v4.md
  docs/environment.md
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_07-term-mode.sh
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_60-register-stray-shells.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/terraform.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/bin/terminal-colorsaurus-license.txt
  rootfs/usr/local/sbin/list-wrapper-shells
  rootfs/usr/local/sbin/shell-monitor
  src/colorsaurus/Cargo.lock
  src/colorsaurus/Cargo.toml
  src/colorsaurus/lib/display.rs
  src/colorsaurus/src/main.rs
Labels: docker, docs, scripts, shell

Fix AWS IAM Role ARN to profile name conversion
  rootfs/etc/profile.d/aws.sh
Labels: shell

Work around buggy SecretsUsedInArgOrEnv check
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/chamber.sh
Labels: docker, shell

Add documentation
  rootfs/etc/profile.d/_10-colors.sh
Labels: shell

Add lsb-release, used in some tool installation scripts
  packages.txt
Labels: packages

Add support for Identity Center permission sets
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/chamber.sh
Labels: shell

Fix a missed instance of replacing ~/.aws with GEODESIC_AWS_HOME
  rootfs/etc/profile.d/aws.sh
Labels: shell

Add quotes to file path for safety
  rootfs/etc/profile.d/aws.sh
Labels: shell

Fix Role Prompt, bypass buggy secrets check, add lsb_release (#971)
  os/debian/Dockerfile.debian
  packages.txt
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/chamber.sh
Labels: docker, packages, shell
