Repository cloudposse/geodesic, changes with the labels that .github/labeler.yml gives for each.
All labels: codefresh, direnv, docker, docs, github, packages, scripts, shell, terraform

UI support for EKS, SAML auth, and Terraform Workspaces
  Dockerfile
  geodesic_apkindex.md5
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/direnv.sh
  rootfs/etc/profile.d/geodesic.kube-ps1.sh
  rootfs/etc/profile.d/helm.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/set-cluster.sh
  rootfs/etc/profile.d/terraform.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: docker, scripts, shell

bugfix for when AWS role not found in config
  rootfs/etc/profile.d/aws.sh
Labels: shell

Tool/dependency updates
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
Labels: docker, packages

Tool/dependency updates (#571)
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
  rootfs/etc/profile.d/aws.sh
Labels: docker, packages, shell

Make set-cluster role-aware, allow switching clusters without resetting namesapce
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/set-cluster.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: scripts, shell

Dependabot updates
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
  rootfs/etc/profile.d/prompt.sh
Labels: docker, packages, shell

shfmt
  rootfs/etc/profile.d/set-cluster.sh
Labels: shell

shfmt
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: scripts

Tweaks and updates (#576)
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/set-cluster.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: docker, packages, scripts, shell

Better role detection
  rootfs/etc/profile.d/aws.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: scripts, shell

update packages
  geodesic_apkindex.md5
Labels: none

[prompt] Better role detection (#577)
  geodesic_apkindex.md5
  rootfs/etc/profile.d/aws.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: scripts, shell

set-cluster picks eks-cluster from existing kubecfg in case there is more than one cluster
  rootfs/etc/profile.d/set-cluster.sh
Labels: shell

Update dependencies
  Dockerfile
  geodesic_apkindex.md5
Labels: docker

Update dependencies (#578)
  Dockerfile
  geodesic_apkindex.md5
  rootfs/etc/profile.d/set-cluster.sh
Labels: docker, shell

Simultaneous support for aws-vault v4 and v5
  geodesic_apkindex.md5
  rootfs/etc/profile.d/aws-vault.sh
Labels: shell

Simultaneous support for aws-vault v4 and v5 (#579)
  geodesic_apkindex.md5
  rootfs/etc/profile.d/aws-vault.sh
Labels: shell

Update alpine, helm, helmfile, etc.
  Dockerfile
  geodesic_apkindex.md5
Labels: docker

Update alpine, helm, helmfile, etc. (#580)
  Dockerfile
  geodesic_apkindex.md5
Labels: docker

Use `chamber env` instead of `chamber -f dotenv`
  rootfs/etc/profile.d/aliases.sh
Labels: shell

Use `chamber env` instead of `chamber -f dotenv` (#585)
  rootfs/etc/profile.d/aliases.sh
Labels: shell

Update WITH_DOCKER to current standards
  geodesic_apkindex.md5
  requirements.txt
  rootfs/sbin/docker
  rootfs/templates/wrapper
Labels: packages

Update WITH_DOCKER to current standards (#586)
  geodesic_apkindex.md5
  requirements.txt
  rootfs/sbin/docker
  rootfs/templates/wrapper
Labels: packages

Specify variant1 in scripts. Update packages.
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  rootfs/usr/local/bin/deps
  rootfs/usr/local/bin/docs
  rootfs/usr/local/bin/helmctl
  rootfs/usr/local/bin/kopsctl
Labels: docker, packages, scripts

Specify variant1 in scripts. Update packages. (#587)
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  rootfs/usr/local/bin/deps
  rootfs/usr/local/bin/docs
  rootfs/usr/local/bin/helmctl
  rootfs/usr/local/bin/kopsctl
Labels: docker, packages, scripts

Allow grafana-db to take credentials from users, not just API keys
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
  rootfs/usr/local/bin/grafana-db
Labels: docker, packages, scripts

Allow grafana-db to take credentials from users, not just API keys (#593)
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
  rootfs/usr/local/bin/grafana-db
Labels: docker, packages, scripts

Maintain appropriate exit status
  rootfs/etc/profile.d/geodesic.kube-ps1.sh
Labels: shell

Update packages
  geodesic_apkindex.md5
Labels: none

[kube_ps1_helper] Maintain appropriate exit status (#595)
  geodesic_apkindex.md5
  rootfs/etc/profile.d/geodesic.kube-ps1.sh
Labels: shell

Enhance detection of AWS_PROFILE changes
  Dockerfile
  requirements.txt
  rootfs/etc/profile.d/aws.sh
Labels: docker, packages, shell

Disable automatic push of build image
  codefresh/build.yml
Labels: codefresh

[aws] Enhance detection of AWS_PROFILE changes (#600)
  Dockerfile
  codefresh/build.yml
  requirements.txt
  rootfs/etc/profile.d/aws.sh
Labels: codefresh, docker, packages, shell

expand search for AWS profile, enhance cluster name shortening
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/geodesic.kube-ps1.sh
  rootfs/etc/profile.d/set-cluster.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: scripts, shell

[prompt] AWS profile, cluster name shortening (#601)
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/geodesic.kube-ps1.sh
  rootfs/etc/profile.d/set-cluster.sh
  rootfs/usr/local/bin/eks-update-kubeconfig
Labels: scripts, shell

protect against multiple inclusions of same role ARN
  rootfs/etc/profile.d/aws.sh
Labels: shell

protect against multiple inclusions of same role ARN (#602)
  rootfs/etc/profile.d/aws.sh
Labels: shell

Package updates
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
Labels: docker, packages

Package updates (#607)
  Dockerfile
  geodesic_apkindex.md5
  requirements.txt
Labels: docker, packages

Better support for XDG, update Helm plugins
  Dockerfile
  geodesic_apkindex.md5
Labels: docker

.github/labeler.yml:

codefresh:
- codefresh/**
- rootfs/etc/codefresh/**

direnv:
- rootfs/etc/direnv/**

docker:
- Dockerfile

docs:
- docs/**

github:
- .github/**

packages:
- packages.txt
- requirements.txt

scripts:
- rootfs/usr/local/bin/**
- rootfs/usr/bin/**

shell:
- rootfs/etc/profile.d/**

terraform:
- rootfs/etc/direnv/rc.d/terraform
