Repository cloudposse/geodesic, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, docs, github, packages, scripts, shell

.github/labeler.yml:

# We are going to exclude alpine-only PRs from the draft release,
# so we do not apply the label if the Alpine Dockerfile is changed,
# even though the PR is technically Alpine-only.
alpine-only:
- changed-files:
  - all-globs-to-all-files:
    - os/alpine/**
    # We are not publishing Alpine anymore, so changes to the Alpine Dockerfile do not matter anymore
    # - '!os/alpine/Dockerfile.alpine'

#direnv:
#- changed-files:
#  - any-glob-to-any-file:
#    - rootfs/etc/direnv/**

docker:
- changed-files:
  - any-glob-to-any-file:
    # - os/alpine/Dockerfile.alpine
    - os/debian/Dockerfile.debian

docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**

github:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

packages:
- changed-files:
  - any-glob-to-any-file:
    - "packages*.txt"
    - "requirements*.txt"
    - "os/debian/packages*.txt"
    - "os/debian/requirements*.txt"

scripts:
- changed-files:
  - any-glob-to-any-file:
    - rootfs/usr/local/bin/**
    - rootfs/usr/bin/**

shell:
- changed-files:
  - any-glob-to-any-file:
    - rootfs/etc/profile.d/**

Fix manual install to use APP_NAME and INSTALL_PATH properly
  rootfs/etc/init.d/bootstrap.sh
  rootfs/templates/bootstrap
  rootfs/usr/local/bin/boot
Labels: scripts

Fix manual install to use APP_NAME and INSTALL_PATH properly (#972)
  rootfs/etc/init.d/bootstrap.sh
  rootfs/templates/bootstrap
  rootfs/usr/local/bin/boot
Labels: scripts

Fix default app name in installation output
  rootfs/usr/local/bin/boot
Labels: scripts

Fix default app name in installation output (#973)
  rootfs/usr/local/bin/boot
Labels: scripts

Oops, allocate a terminal for --solo shell
  rootfs/templates/wrapper-body.sh
Labels: none

Clean up shell PID monitoring
  rootfs/usr/local/sbin/shell-monitor
Labels: none

Remove debugging code
  rootfs/usr/local/sbin/shell-monitor
Labels: none

Fix Excessive CPU usage, fix --solo (#974)
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/sbin/shell-monitor
Labels: none

Split extra args into launch and exec args. Enhance verbose mode.
  ReleaseNotes-v4.md
  docs/environment.md
  rootfs/templates/wrapper-body.sh
Labels: docs

Additional launch checks/warnings
  rootfs/etc/profile.d/_01-launch-warning.sh
  rootfs/etc/profile.d/_60-register-stray-shells.sh
  rootfs/usr/local/bin/boot
Labels: scripts, shell

Address reviewer feedback
  ReleaseNotes-v4.md
  docs/environment.md
  rootfs/etc/profile.d/_60-register-stray-shells.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/bin/boot
Labels: docs, scripts, shell

Split extra args into launch and exec (#976)
  ReleaseNotes-v4.md
  docs/environment.md
  rootfs/etc/profile.d/_01-launch-warning.sh
  rootfs/etc/profile.d/_60-register-stray-shells.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/bin/boot
Labels: docs, scripts, shell

Fix: Correct typos in README.md
  README.md
Labels: none

Use atmos for readme genration
  .gitignore
  Makefile
  README.md
  atmos.yaml
Labels: none

Use atmos for readme generation (#978)
  .gitignore
  Makefile
  README.md
  atmos.yaml
Labels: none

Add Atmos auth integration to Geodesic
  rootfs/etc/profile.d/atmos.sh
  rootfs/templates/wrapper-body.sh
Labels: shell

Use --identity=value syntax instead of space-separated
  rootfs/etc/profile.d/atmos.sh
Labels: shell

Install Atmos 1.197.0 by default
  packages.txt
Labels: packages

Update packages.txt
  packages.txt
Labels: packages

Apply suggestion from @osterman
  packages.txt
Labels: packages

Add Atmos auth integration to Geodesic (#979)
  rootfs/etc/profile.d/atmos.sh
  rootfs/templates/wrapper-body.sh
Labels: shell

chore: typo fixes
  README.md
  README.yaml
  os/debian/Dockerfile.debian
  rootfs/etc/codefresh/require_vars
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/fzf.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/Ω_overrides.sh
  rootfs/usr/local/bin/codefresh-pipeline
Labels: docker, scripts, shell

refactor(shell): quote variables and use arrays safely
  rootfs/etc/init.d/atlantis.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/templates/wrapper-body.sh
Labels: shell

fix: `codespell` typo fixes, replace unsafe array assignments, quote variable expansions to prevent globbing (#980)
  README.md
  README.yaml
  os/debian/Dockerfile.debian
  rootfs/etc/codefresh/require_vars
  rootfs/etc/init.d/atlantis.sh
  rootfs/etc/profile.d/_40-preferences.sh
  rootfs/etc/profile.d/aws.sh
  rootfs/etc/profile.d/fzf.sh
  rootfs/etc/profile.d/prompt.sh
  rootfs/etc/profile.d/Ω_overrides.sh
  rootfs/templates/wrapper-body.sh
  rootfs/usr/local/bin/codefresh-pipeline
Labels: docker, scripts, shell

fix: correct syntax errors and typos in shell scripts
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_50-workspace.sh
  rootfs/etc/profile.d/helm.sh
  rootfs/etc/profile.d/prompt.sh
Labels: docker, shell

fix: remove 2>&1 stderr redirect from atmos auth env calls
  rootfs/etc/profile.d/atmos.sh
Labels: shell

fix: correct syntax errors and typos in shell scripts (#982)
  os/debian/Dockerfile.debian
  rootfs/etc/profile.d/_10-colors.sh
  rootfs/etc/profile.d/_50-workspace.sh
  rootfs/etc/profile.d/helm.sh
  rootfs/etc/profile.d/prompt.sh
Labels: docker, shell

fix: remove 2>&1 stderr redirect from atmos auth env calls (#983)
  rootfs/etc/profile.d/atmos.sh
Labels: shell

Improved README explanation for beginners
  README.md
Labels: none

Added beginner-friendly Dockerfile explanations
  Dockerfile.custom
  README.md
Labels: none

chore: upgrade actions to Node 24 runtime (SHA-pinned)
  .github/workflows/docker.yml
  .github/workflows/draft-release.yml
  .github/workflows/label.yml
  .github/workflows/validate-codeowners.yml
  .github/workflows/vhs.yaml
Labels: github

chore: do not persist credentials in codeowners checkout
  .github/workflows/validate-codeowners.yml
Labels: github
