Repository cloudposse/geodesic, pull requests merged in 2020-02, with the labels that each got.

#556 Drop Python 2.x and awsebcli, upgrade Apline to 3.11
  Dockerfile
  geodesic_apkindex.md5
  packages.txt
  requirements.txt
Labels: docker, packages

#560 Remove reference to function removed in PR 368
  rootfs/etc/profile.d/use-profile.sh
Labels: shell

#561 fix direnv
  Dockerfile
Labels: docker
