Repository cloudposse/geodesic, pull requests merged in 2021-06, with the labels that each got.

#712 Update Debian to AWS CLI v2
  Dockerfile.options
  os/alpine/Dockerfile.alpine
  os/debian/Dockerfile.debian
  requirements.txt
Labels: packages

#716 (docs) update docs/customization.md
  docs/customization.md
Labels: documentation, patch

#717 (docs) update docs/design.md
  docs/design.md
Labels: documentation
